.DS_Store
/vue2-stage/node_modules
/vue-ssr/node_modules
/component-vue/node_modules
/vue-router/node_modules
/vuex-project/node_modules

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.lock